<h1 class="center" style="width: 200px">TODO LIST</h1>
<div class="center" style="width: 500px">
    <h3>role</h3>
    <ol>
        <li>级联删除</li>
        <li>多行文本换行显示</li>
    </ol>
    <h3>membership</h3>
    <ol>
        <li>删除用户</li>
        <li>取回密码</li>
        <li>单用户关联多部门与多职位</li>
    </ol>
    <h3>自定义列表</h3>
    <ol>
        <li>栏目条件</li>
        <li>栏目默认值等优化选项</li>
        <li>栏目编辑</li>
        <li>列表编辑</li>
        <li>列表删除</li>
        <li>列表创建时的验证</li>
        <li>列表数据录入，修改，删除</li>
    </ol>
    <h3>其他</h3>
    <ol>
        <li>ajax请求Loading的统一处理方案</li>
    </ol>
</div>
