<header>
    <div class="content-wrapper">
        <div class="float-left">
            <p class="site-title">
                <a href="~/">Young</a></p>
        </div>
    </div>
</header>
<div id="body">
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>欢迎使用 Young!</h1>
            </hgroup>
            <p>
                Young采用Web API作为数据提供层与前台DHTML完美结合。
            </p>
            <p>
                针对普通应用系统的高度抽象的方式使其成为快速开发应用系统的最佳解决方案。
            </p>
        </div>
    </section>
    <section class="content-wrapper main-content clear-fix">
        <h3>下面是我们建议的步骤:</h3>
        <ol class="round">
            <li class="one">
                <h5>开始使用</h5>
                Young中自带的内建对象：用户。<br />
                用户对象中自带内建属性：登录账号、密码、邮箱、性别、显示名称。<br />
                <p>Young中自带用户实例：<p>登录账号：zack<br />密码：123456</p></p>
            </li>

            <li class="two">
                <h5>添加业务系统对象</h5>
                通过Young的对象管理模块添加管理业务对象
            </li>
            <li class="three">
                <h5>添加对象属性</h5>
                根据业务需求对不同对象添加属性
            </li>
        </ol>
    </section>
</div>
