@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_WebmasterLayout.cshtml";
}

@section scripts{
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/angular-route.min.js"></script>
    
    <script src="~/Scripts/Controller/TermControllers.js"></script>
    <script src="~/Scripts/Module/WebmasterApp-route.js"></script>
}

<div class="easyui-layout" data-options="fit:true" ng-app="WebmasterApp">
    <div data-options="region:'west',split:true,border:false" style="width: 200px; padding: 10px" ng-controller="TermInitCtrl">
        <img src="~/Images/loading.gif" style=" width:100px; margin:0 auto; display:block;" id="tree_loading" />
        <ul id="tree_term"></ul>
    </div>
    <div data-options="region:'center',border:false" style="padding: 10px">
        
    </div>
</div>

