<table class="edit-form" style="width:100%;">
    <tr>
        <td class="txt-right" style="width:100px">名称：</td>
        <td>
            <input type="text" name="name" value="{{Model.text}}"></td>
    </tr>
    <tr>
        <td class="txt-right txt-top">描述：</td>
        <td>
            <textarea>{{Model.Description}}</textarea></td>
    </tr>
    <tr>
        <td colspan="2" class="button">
            <a id="btn-save" href="#" data-options="iconCls:'icon-save'">保存</a>
            <a id="btn-reset" href="#" data-options="iconCls:'icon-redo'">重置</a>
        </td>
    </tr>
</table>
