@model Young.Web.Models.Column.NumberColumnModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_WebmasterLayout.cshtml";
}

<div id="work-panel">
    <div class="module">
        <div class="icon-table-add title">
            添加栏目
        </div>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)

            <fieldset>
                <legend>数字类型</legend>
                @Html.Partial("BaseColumnEditor", Model)
                <div class="button">
                <a href="#" class="easyui-linkbutton" iconcls="icon-save">提交</a>
                    <a href="javascript:window.history.back()" class="easyui-linkbutton" iconcls="icon-back">返回</a>
                    </div>
            </fieldset>
        }
       

    </div>
</div>
