@model Young.Web.Models.CustomListModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_WebmasterLayout.cshtml";
}

<div style="width: 800px; margin: 0 auto;">
    @using (Html.BeginForm())
    {
        <h1>列表</h1>
        <hr />
        <table class="edit-form" style="width: 100%;">
            <tr>
                <td class="txt-right">@Html.LabelFor(f => f.Name)</td>
                <td>@Html.EditorFor(f => f.Name)</td>
            </tr>
            <tr>
                <td class="txt-right txt-top">@Html.LabelFor(f => f.Description)</td>
                <td>@Html.TextAreaFor(f => f.Description)</td>
            </tr>
        </table>       
        <div class="txt-center" style="margin-top: 10px">
            <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-ok" onclick="$('form').submit()">提交</a>
            <a href="~/customlist/index" class="easyui-linkbutton" iconcls="icon-back">返回</a>
        </div>
    }
</div>

@section scripts{
    <script type="text/javascript">
       
    </script>
}