@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_WebmasterLayout.cshtml";
}


<table id="dg" class="easyui-datagrid" style="width: auto; height: auto"
       data-options="
    url:'/api/APICustomList',
    singleSelect:true,
    method:'get'"
    toolbar="#toolbar" pagination="true"
    rownumbers="true" fitcolumns="true">
    <thead>
        <tr>
            <th data-options="field:'Code',width:150">编号</th>
            <th data-options="field:'Name',width:100">列表名称</th>
            <th data-options="field:'Description',width:280">用途</th>
            <th data-options="field:'CreateDate',width:200">创建日期</th>
        </tr>
    </thead>
</table>
<div id="toolbar" style="padding: 10px 0;">
    <a href="~/customlist/Create" class="easyui-linkbutton" iconcls="icon-table-add" plain="true">新建列表</a>
    <a href="javascript:editColumnHandler();" class="easyui-linkbutton" iconcls="icon-table-edit"  plain="true">编辑</a>
</div>

<script type="text/javascript">
    function editColumnHandler() {
        var selectedRow = $('#dg').datagrid('getSelected');
        if (selectedRow==null) {
            $.messager.alert('Info', '请先选中要编辑的列表。');
            return;
        }
        location.href = "/customlist/Detail?code=" + selectedRow.Code;
	}
</script>