@model Young.Web.Models.Column.LineTextColumnModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_ColumnEditor.cshtml";
}


<div class="editor-label w150 txt-right">
    @Html.LabelFor(model => model.Length)
</div>
<div class="editor-field">
    @Html.TextBoxFor(model => model.Length, new { @class = "easyui-numberbox" })
    @Html.ValidationMessageFor(model => model.Length)
</div>

