@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_WebmasterLayout.cshtml";
}

@section scripts{
    <script>
        function newUser() {
            $('#dlg').dialog({
                buttons: [{
                    text: '保存',
                    iconCls: 'icon-save',
                    handler: function () {
                        if ($('#fm').form('validate')) {
                            var param = getFormDataModel('fm');
                            $.post("/api/apimembership", param, function (data) {
                                if (data.IsSuccess) {
                                    $('#dg').datagrid('insertRow', {
                                        index: 0,
                                        row: {
                                            DisplayName: param.DisplayName,
                                            UserName: param.UserName,
                                            Email: param.Email,
                                            IsApproved: true,
                                            IsLockedOut: false,
                                            LastLockoutDate: new Date(),
                                            CreationDate: new Date(),
                                            LastLoginDate: new Date(),
                                            LastActivityDate: new Date(),
                                            LastPasswordChangedDate: new Date()
                                        }
                                    });
                                    $('#dlg').dialog('close');
                                } else {
                                    $.messager.alert('新建失败', '新建用户失败，' + data.Message + '。', 'warning');
                                }
                            });
                        } else {
                            $.messager.alert('信息', '有字段验证失败，请重新填写。', 'info');
                        }
                    }
                }, {
                    text: '取消',
                    iconCls: 'icon-cancel',
                    handler: function () { $('#dlg').dialog('close'); }
                }]
            }).dialog('open').dialog('setTitle', '新建用户信息');
            $('#fm').form('clear');
        }

        function lockUserCore(isLocked) {
            var msg = isLocked ? "锁定" : "解锁";
            var rows = $('#dg').datagrid('getSelections');
            if (rows.length == 0) {
                $.messager.alert('信息', '请先选中用户。', 'info');
                return;
            }
            var keys = [];
            $.each(rows, function (i, item) {
                if (item.IsLockedOut != isLocked) {
                    keys.push(item.ProviderUserKey);
                }
            });
            if (keys.length) {
                var url = isLocked ? '/api/apimembership?category=lock&providerUserKeys=' : '/api/apimembership?category=unlock&providerUserKeys=';
                $.ajax(url + keys.join(),
                                    {
                                        traditional: true,
                                        type: 'put',
                                        success: function (data, textStatus, jqXHR) {
                                            if (data.IsSuccess) {
                                                $.messager.alert('信息', '用户' + msg + '成功。', 'info');
                                                $.each(rows, function (i, item) {
                                                    var index = $('#dg').datagrid('getRowIndex', item);
                                                    item.IsLockedOut = isLocked;
                                                    if (isLocked) {
                                                        item.LastLockoutDate = new Date();
                                                    }
                                                    $('#dg').datagrid('refreshRow', index);
                                                });
                                            } else {
                                                $.messager.alert(msg + '失败', msg + '用户失败，' + data.Message + '。', 'warning');
                                            }
                                        }
                                    });
            } else {
                $.messager.alert('信息', '用户已经被' + msg + '。', 'info');
            }

        }

        function lockUser() {
            lockUserCore(true);
        }
        function unlockUser() {
            lockUserCore(false);
        }

        var getFormDataModel = function (formId) {
            var model = {
                IsApproved: true//默认审核通过
            };
            $('#' + formId + " input").each(function (i, item) {
                model[item.name] = $(item).val();
            });
            return model;
        };

        var DateFormat = function (value, row, index) {
            return (new Date(value)).toLocaleDateString();
        };
        var LocaleDateTimeFormat = function (value, row, index) {
            return (new Date(value)).toLocaleString();
        };
        var LockFormat = function (value, row, index) {
            if (value) {
                return '<img src="/Images/lock.png" />';
            }
            return '';
        };
        var ApprovedFormat = function (value, row, index) {
            if (value) {
                return '';
            }
            return '<img src="/Images/cross.png" />';

        };
    </script>
}
@section style{
    <style type="text/css">
        #fm {
            margin: 0;
            padding: 10px 30px;
        }

        .ftitle {
            font-size: 14px;
            font-weight: bold;
            padding: 5px 0;
            margin-bottom: 10px;
            border-bottom: 1px solid #ccc;
        }

        .fitem {
            margin-bottom: 5px;
        }

            .fitem label {
                display: inline-block;
                width: 80px;
                text-align: right;
            }
    </style>
}

<table id="dg" class="easyui-datagrid" style="width: auto; height: auto"
    data-options="
    url:'/api/apimembership',
    method:'get'"
    toolbar="#toolbar" pagination="true"
    rownumbers="true" fitcolumns="true">
    <thead>
        <tr>
            <th data-options="field:'UserName',width:100">用户登录账号</th>
            <th data-options="field:'DisplayName',width:80">用户名称</th>
            <th data-options="field:'Email',width:200">Email</th>
            <th data-options="field:'IsApproved',formatter:ApprovedFormat,align:'center'">审核状态</th>
            <th data-options="field:'IsLockedOut',formatter:LockFormat,align:'center'">锁定状态</th>
            <th data-options="field:'LastLoginDate',formatter:LocaleDateTimeFormat">最近一次登录时间</th>
            <th data-options="field:'LastActivityDate',formatter:LocaleDateTimeFormat">最近一次操作时间</th>
            <th data-options="field:'LastLockoutDate',formatter:LocaleDateTimeFormat">最近一次锁定时间</th>
            <th data-options="field:'LastPasswordChangedDate',formatter:LocaleDateTimeFormat">最近一次修改密码时间</th>
            <th data-options="field:'CreationDate',formatter:DateFormat">注册时间</th>
        </tr>
    </thead>
</table>
<div id="toolbar" style="padding: 10px 0;">
    <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-user-add" plain="true" onclick="newUser()">新建用户</a>
    <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-user-edit" plain="true" onclick="editUser()">编辑用户</a>
    <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-user-delete" plain="true" onclick="destroyUser()">删除用户</a>
    <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-lock" plain="true" onclick="lockUser()">锁定用户</a>
    <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-lock-go" plain="true" onclick="unlockUser()">解锁用户</a>
</div>



<div id="dlg" class="easyui-dialog" style="width: 400px; height: 280px; padding: 10px 20px"
    closed="true" modal="true">
    <div class="ftitle">用户信息</div>
    <form id="fm" method="post" novalidate>
        <div class="fitem">
            <label>登录账号:</label>
            <input name="UserName" class="easyui-validatebox" required="true">
        </div>
        <div class="fitem">
            <label>用户名称:</label>
            <input name="DisplayName" class="easyui-validatebox" required="true">
        </div>
        <div class="fitem">
            <label>密码:</label>
            <input name="Password" class="easyui-validatebox" required="true">
        </div>
        <div class="fitem">
            <label>Email:</label>
            <input name="Email" class="easyui-validatebox" validtype="email">
        </div>
    </form>
</div>

