@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_WebmasterLayout.cshtml";
}

@section scripts{
    <script>
       
    </script>
}

<table id="dg" class="easyui-datagrid" style="width: auto; height: auto"
    url="get_users.php"
    toolbar="#toolbar" pagination="true"
    rownumbers="true" fitcolumns="true" singleselect="true">
    <thead>
        <tr>
            <th>用户登录账号</th>
            <th>用户名称</th>
            <th>Email</th>
            <th>锁定状态</th>
            <th>最近一次登录时间</th>
            <th>最近一次操作时间</th>
            <th>最近一次锁定时间</th>
            <th>最近一次修改密码时间</th>
            <th>注册时间</th>
        </tr>
    </thead>
</table>
<div id="toolbar">
    <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-add" plain="true" onclick="newUser()">New User</a>
    <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-edit" plain="true" onclick="editUser()">Edit User</a>
    <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-remove" plain="true" onclick="destroyUser()">Remove User</a>
</div>
