@model Young.Web.Models.RoleCollectionModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_WebmasterLayout.cshtml";
}

@section scripts{
    <script>
        function deleteRole(roleName, isSystem) {
            if (roleName && isSystem == true) {
                return; //fix easyui disabled bug
            }
            var row = $('#dg').datagrid('getSelected');
            if (!row && !roleName) {
                $.messager.alert('信息', '请先选中用户。', 'info');
            } else if (row != null && row.IsSystem === "True") {
                $.messager.alert('信息', '系统角色不允许删除。', 'info');
            } else {
                var name = roleName || row.RoleName;
                console.log(name);
                $.ajax('/api/apirole?roleName=' + name, {
                    type: 'delete',
                    success: function(data, textStatus, jqXHR) {
                        if (data.IsSuccess) {
                            var selectRow = $('#dg').datagrid('getSelected');
                            var deleteIndex = $('#dg').datagrid('getRowIndex', selectRow);
                            $('#dg').datagrid('deleteRow', deleteIndex);
                        } else {
                            $.messager.alert('删除失败', data.Message, 'warning');
                        }
                    }
                });
            }
        }

        function newRole() {
            $.messager.prompt('新建角色', '请输入角色名称:', function(r) {
                if (r) {
                    $.post('/api/apirole?roleName=' + r, function(data) {

                        if (data.IsSuccess) {
                            $('#dg').datagrid('appendRow',
                                {
                                    RoleName: r,
                                    IsSystem: 'False',
                                    Operation: '<a href="javascript:void(0)" class="easyui-linkbutton l-btn l-btn-plain"onclick="mangerUser(\'' + r + '\')"><span class="l-btn-left"><span class="l-btn-text icon-chart-organisation l-btn-icon-left">管理用户</span></span></a><a href="javascript:void(0)" class="easyui-linkbutton l-btn l-btn-plain"onclick="deleteRole(\'' + r + '\',false)"><span class="l-btn-left"><span class="l-btn-text icon-delete l-btn-icon-left">删除角色</span></span></a>'
                                });
                        } else {
                            $.messager.alert('失败', data.Message, 'warning');
                        }
                    });
                }
            });
        }

//管理用户

        function mangerUser(roleName) {
            $('#win-searchUser')
                .data("roleName", roleName)
                .window('open');
        }

        //打开查询窗口
        var searchWinOpenHandle = function() {
            var roleName = $('#win-searchUser').data("roleName");
            reflashRoleInUser(roleName);
        };

        var reflashRoleInUser = function(roleName) {
            $('#searchUser-list').empty();
            $('#search-loading').show();
            $.get('/api/apirole?roleName=' + roleName, function(data) {
                $.each(data, function(index, item) {
                    $('#searchUser-list').append('<div class="manger-left-user" data-UserName="' + item + '">' + item + '</div>');
                });
                $('#search-loading').hide();
            });
        };
        //添加角色用户

        function addRoleUser() {
            var roleName = $('#win-searchUser').data("roleName");
            var rows = $('#grid-searchUser').datagrid('getChecked');
            if (!rows.length) {
                $.messager.alert('信息', '请先选择要添加的用户', 'info');
                return;
            }
            var userName = [];
            $.each(rows, function(i, item) {
                userName.push(item.UserName);
            });
            $.ajax({
                url: '/api/apirole?category=add&roleName=' + roleName + '&userNameArry=' + userName.join(),
                type: 'put',
                success: function(data, textStatus, jqXHR) {
                    if (data.IsSuccess) {
                        reflashRoleInUser(roleName);
                    } else {
                        $.messager.alert('失败', data.Message, 'warning');
                    }
                }
            });
        }

        function removeRoleUser() {
            var roleName = $('#win-searchUser').data("roleName");
            var selected = $('.manger-left-user-selected');
            if (!selected.length) {
                $.messager.alert('信息', '请先选择要移除的用户', 'info');
                return;
            }
            var userName = [];
            selected.each(function (i, item) {
                console.log(item);
                userName.push($(item).data('username'));
            });
            $.ajax({
                url: '/api/apirole?category=remove&roleName=' + roleName + '&userNameArry=' + userName.join(),
                type: 'put',
                success: function (data, textStatus, jqXHR) {
                    if (data.IsSuccess) {
                        reflashRoleInUser(roleName);
                    } else {
                        $.messager.alert('失败', data.Message, 'warning');
                    }
                }
            });
        }

        $('.manger-left-user').live('click', function() {
            $(this).toggleClass('manger-left-user-selected');
        });

    </script>
}

<table id="dg" class="easyui-datagrid" style="width: auto; height: auto"
    singleselect="true"
    toolbar="#toolbar" pagination="false"
    rownumbers="true" fitcolumns="true">
    <thead>
        <tr>
            <th data-options="field:'RoleName',width:60">角色名称</th>
            <th data-options="field:'IsSystem',width:10,align:'center'">系统角色</th>
            <th data-options="field:'Operation',width:30,align:'center'">操作</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.RoleName</td>
                <td>@item.IsSystem</td>
                <td><a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-chart-organisation" plain="true" onclick="mangerUser('@item.RoleName')">管理用户</a>
                    <a data-options="disabled:@item.IsSystem.ToString().ToLower()" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-delete" plain="true" onclick="deleteRole('@item.RoleName',@item.IsSystem.ToString().ToLower())">删除角色</a></td>
            </tr>
        }
        
    </tbody>
</table>
<div id="toolbar" style="padding: 10px 0;">
    <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-add" plain="true" onclick="newRole()">新建角色</a>
    <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-remove" plain="true" onclick="deleteRole()">删除角色</a>
</div>


<div id="win-searchUser" class="easyui-window" data-options="title: '管理用户',
                closed:true,
                width: 570,
                height: 400,
                collapsible: false,
                minimizable: false,
                maximizable: false,
                onOpen:searchWinOpenHandle,
                modal: true">
    <div class="easyui-layout" data-options="fit:true">
        <div data-options="region:'east',split:true,title:'已包含用户'" style="width: 120px">
            <div id="searchUser-list"></div>
            <img src="~/Images/loading.gif" id="search-loading" />
        </div>
        <div data-options="region:'center'" >
            <table id="grid-searchUser" class="easyui-datagrid" data-options="toolbar: '#grid-searchUser-toolbar',
                url:'/api/apimembership',
                method:'get',
                pagination:true,
                columns: [[
                { checkbox: true },
                { field: 'UserName', title: '登陆账号', width: 100 , align: 'left'},
                { field: 'DisplayName', title: '用户', width: 100, align: 'left' },
                { field: 'Email', title: '邮件地址', width: 200, align: 'left' }
                ]]">
            </table>
        </div>
    </div>

</div>
<div id="grid-searchUser-toolbar" style="padding: 10px">
    <div>
        登陆账号:<input type="text" /><a href="#" class="easyui-linkbutton" iconcls="icon-search">查询</a>
    </div>
    <div style="margin-top:5px;">
        <a href="#" class="easyui-linkbutton" plain="true" iconcls="icon-chart-organisation-add" onclick="addRoleUser()">添加用户</a>
        <a href="#" class="easyui-linkbutton" plain="true" iconcls="icon-chart-organisation-delete" onclick="removeRoleUser()">移除用户</a>
    </div>
</div>


@section style{
    <style>
        .manger-left-user {
            background:url('/images/user.png') no-repeat 3px 2px; padding-left:20px; line-height:20px;cursor: pointer;border-bottom: dotted 1px;
        }
        .manger-left-user-selected {
            background-color: #FBEC88;
        }
    </style>
}