<table>
    <tr>
        <td style="width: 250px; border: 1px solid #6F9DD9">
            <div style="border-bottom: 1px solid #6F9DD9">
                <div>分类术语库</div>
            </div>
            <ul id="browser" class="filetree treeview-famfamfam">
                <li><span class="folder">Folder 1</span>
                    <ul>
                        <li><span class="folder">Item 1.1</span>
                            <ul>
                                <li><span class="file">Item 1.1.1</span></li>
                            </ul>
                        </li>
                        <li><span class="folder">Folder 2</span>
                            <ul>
                                <li><span class="folder">Subfolder 2.1</span>
                                    <ul id="folder21">
                                        <li><span class="file">File 2.1.1</span></li>
                                        <li><span class="file">File 2.1.2</span></li>
                                    </ul>
                                </li>
                                <li><span class="folder">Subfolder 2.2</span>
                                    <ul>
                                        <li><span class="file">File 2.2.1</span></li>
                                        <li><span class="file">File 2.2.2</span></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li class="closed"><span class="folder">Folder 3 (closed at start)</span>
                            <ul>
                                <li><span class="file">File 3.1</span></li>
                            </ul>
                        </li>
                        <li><span class="file">File 4</span></li>
                    </ul>
                </li>
            </ul>
        </td>
        <td style="border: 1px solid #6F9DD9"></td>
    </tr>
</table>
<div class="contextMenu" id="termContextMenu" style="display:none;">
    <ul>
        <li id="add">
            <img src="/Images/page_add.png" />
            <a href="#/add-term">新建</a></li>
        <li id="edit">
            <img src="/Images/page_edit.png" />
            编辑</li>
        <li id="delete">
            <img src="/Images/page_delete.png" />
            删除</li>
    </ul>
</div>
